<div class="partials__footer text-white">
    <div class="container d-flex justify-content-center align-items-center py-3">
        <div class="bases__font--14">
            <span>Design by FBD Team </span>
        </div>
    </div>
</div>