<div class="partials__header">
    <nav class="navbar navbar-expand-sm navbar-light ">
        <a class="navbar-brand" href="#"> <img class="partials__header-logo" src="/img/logoo.png" alt=""> </a>
        {{!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
        <div class="collapse navbar-collapse " id="collapsibleNavId">
            <form class="form-inline form">
                <div class="">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
                <div class="partials__header-cart" >
                    <img src="/img/cart.png" alt=""></img>
                    <a href="">Gio hang</a>
                </div>
            </form>
        </div>

    </nav>
</div>