<div class="pages__home">
    <form action="">
        <div class="bases__box">
            <div class="heading align-items-center">
                <div class="d-flex align-items-center">
                    <img class="bases__icon-sm mr-3" src="" />
                    <div class="bases__font--18 bases__text-bold">
                        Danh sách sản phẩm
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="pages__home-form">
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="bases__box">
            <div class="heading align-items-center">
                <div class="d-flex align-items-center">
                    <img class="bases__icon-sm mr-3" src="" />
                    <div class="bases__font--18 bases__text-bold">
                        Danh sách sản phẩm
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="pages__home-form">
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="bases__box">
            <div class="heading align-items-center">
                <div class="d-flex align-items-center">
                    <img class="bases__icon-sm mr-3" src="" />
                    <div class="bases__font--18 bases__text-bold">
                        Danh sách sản phẩm
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="pages__home-form">
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                       <a href=""><img class="icon" src="/img/cart.png" alt=""></a>                                       
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <div class="pages__home-option">
                                <div class="position-relative">
                                    <img class="img" src="/img/blog/cat-post/cat-post-1.jpg" alt="">
                                    <div class="mask position-absolute flex-column align-items-center">
                                        <a href=""><img class="icon" src="/img/cart.png" alt=""></a>
                                        <div class="text-white mt-1 bases__text-bold">
                                            Add to cart </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>