<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-start">
			<div class="col-first">
				<h1>Đăng Nhập</h1>
			</div>
		</div>
	</div>
</section>
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6">
				<div class="login_box_img">
					<img class="img-fluid" src="/img/logoo.png" alt="">
					<div class="hover">
						<h4>Bạn chưa có tài khoản?</h4>
						<p>Vui lòng ấn vào nút đăng ký !! </p>
						<a class="primary-btn" href="/user/registration">Đăng ký</a>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="login_form_inner">
					{{#if hasErrors}}
					<div class="alert alert-danger">
						{{# each messages}}
						<p>{{this}}</p>
						{{/each}}
					</div>
					{{/if}}
					<form class="row login_form" action="login" method="POST" novalidate="novalidate">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="email" name="email" placeholder="Email"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<input type="hidden" , name="_csrf" value="{{csrfToken}}">
							<button type="submit" class="primary-btn">Đăng nhập</button>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</section>