<form action="/user/login" method="POST">
	<div class="bases__box">
		<div class="heading">
			<div class="d-flex align-items-center">
				<img class="bases__icon-sm mr-3" src="/img/logoo.png" />
				<div class="bases__font--20 bases__text-bold">
					Đăng nhập
				</div>
			</div>
		</div>
		<div class="body">
			<!-- radio -->
			{{#if hasErrors}}
			<div class="alert alert-danger">
				{{#each messages}}
				<p>{{this}}</p>
				{{/each}}
			</div>
			{{/if}}
			<div class="row align-items-center">
				<div class="bases__col-left pl-0">
					Email:
				</div>
				<div class="bases__col-right pr-0 d-flex">
					<input class="w-100" type="text" id="email" maxlength="255" name="email" />
				</div>
			</div>
			<div class="row align-items-center">
				<div class="bases__col-left pl-0">
					Password:
				</div>
				<div class="bases__col-right pr-0 d-flex">
					<input class="w-100" type="password" maxlength="255" name="password" />
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<a class="mr-4" href="/user/registration">
			<button class="bases__btn btn-submit d-flex align-items-center" type="button">
				<i class="bases__font--12 bases__rotate-reverse fas fa-play mr-1"></i>
				<span class="bases__font--16">Register</span>
			</button>
		</a>
		<input type="hidden" , name="_csrf" value="{{csrfToken}}">
		<button type="submit" class="bases__btn btn-submit d-flex align-items-center">
			<span class="bases__font--16">Login</span>
			<i class="bases__font--12 fas fa-play ml-1"></i>
		</button>
	</div>
</form>