.pages{
    &__product{
        margin-top: 24px;
        .bases__box {
            .heading {
                padding: 20px 60px;
            }
            .body {
                padding: 40px 60px 56px 60px;
                .row {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    margin-bottom: 30px;
                }
            }
        }
        &-footer {
            .bases__button {
                background-color: $color-blue;
                padding: 16px 0px;
                width: 240px;
                margin-top: 54px;
                color: $color-white;
            }
        }
        &-form {
            &:first-child {
                padding-bottom: 44px;
                border-bottom: 1px solid $color-light-shadow;
            }
            &:last-child {
                padding-top: 44px;
            }
        }
        &-date_time {
            input {
                &:first-child {
                    width: 200px;
                    margin-right: 10px;
                }
                &:last-child {
                    width: 100px;
                }
            }
        }
        &-ic {
            &_clock {
                width: 16px;
                height: 16px;
                object-fit: cover;
                position: absolute;
                right: 16px;
                top: 12px;
                z-index: 1;
            }
            &_tilde {
                width: 16px;
                height: 16px;
                object-fit: contain;
                margin: 0px 16px;
            }
        }
        &-select {
            &_order {
                width: 100px;
            }
            &_express {
                width: 200px;
            }
        }
    }
}